<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIHI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a class=logo href="/">Logo</a>
        <button onclick="window.location.href='/sign'; " class="buttons">Sign in/Sing up</button>
    </nav>

    <div class="zero">
        <div id="zero1">
            <h1>Listen unlimited music and all ad free </h1>
            <h3>Starting from ₹69 per month</h3>
        </div>
        <button>Get Started &rarr; </button>
    </div>

    <div class="frame_1">
        <div id="frame_11">
            <h2>Keep Listening</h4>
                <p>Download your favourites music and songs to listen offline
                    everywhere, anywhere, anytime.</p>
        </div>
        <img src="/static/images/first.png" class="frame_img">
    </div>

    <div class="frame_2">
        <img src="/static/images/second.png" class="frame_img">
        <div id="frame_11">
            <h2>Listen Everywhere</h4>
                <p>Listen unlimited music and songs on your
                    phone, tablet, laptop and Desktop.</p>
        </div>
    </div>


    <div class="frame_3">
        <h1>OUR SUBSCRIPTION</h1>
        <div class="plan_cards">
            <div class="cardf">
                <div class="cardinf">
                    <h2>Free</h2>
                    <p>₹0</p>
                    <button class="plan_button">Select plan</button>
                </div>
                <div class="cardoutf">
                    <h3>Includes:</h3>
                    <li><span>✔️</span> Basic audio quality</li>
                    <li><span>✔️</span> Offline listening </li>
                    <li><span>❌</span> Listen in background</li>
                    <li><span>❌</span> Unlimited ad-free music</li>
                </div>
            </div>

            <div class="cardm">
                <div class="cardinm">
                    <h2>Monthly Premium</h2>
                    <p>₹69/month</p>
                    <button class="plan_button">Select plan</button>
                </div>
                <div class="cardoutm">
                    <h3>Includes:</h3>
                    <li><span>✔️</span> Basic audio quality</li>
                    <li><span>✔️</span> Listen offline</li>
                    <li><span>✔️</span> Unlimited background listening</li>
                    <li><span>✔️</span> Unlimited ad-free music</li>
                    <li><span>✔️</span> One time payment(Once a month)</li>
                </div>
            </div>
            <div class="cardy">
                <div class="cardiny">
                    <h2>Yearly Premium</h2>
                    <p>₹699/yearly</p>
                    <p style="font-size: 1.2em;">(It will be ₹58.25/month for 12 months)</p>
                    <button class="plan_button">Select plan</button>
                </div>
                <div class="cardouty">
                    <h3>Includes:</h3>
                    <li><span>✔️</span> Basic audio quality</li>
                    <li><span>✔️</span> Listen offline</li>
                    <li><span>✔️</span> Unlimited background listening</li>
                    <li><span>✔️</span> Unlimited ad-free music</li>
                    <li><span>✔️</span> One time payment(Once a year)</li>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="foot">
            <div class="footi">
                <a>Privacy</a>
                <a>Help Centre</a>
                <a>Accounts</a>
            </div>

            <div class="footi">
                <a>Terms of Use</a>
                <a>Contact Us</a>
                <a>Become an artist</a>
            </div>

            <div class="footi">
                <a>License</a>
                <a>Legal Notices</a>
                <a>Work with Us</a>
            </div>

        </div>

        <div>
            <img src="/static/images/Socials.png" id="foot_img">
        </div>
    </footer>
    <div / id="copyright">
        &copy; 2024. All rights reserved
    </div>
</body>

</html>