<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_sign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
    <title>sign_up</title>
</head>

<body>
    <form action="/sign/" method="post">

        <div>
            <label for="name" class="form-label">Name</label>
            <br>
            <input type="text" class="form-control" name="name" id="name" placeholder="Kisuke Urahara">
        </div>

        <div>
            <label for="inputEmail4" class="form-label">Email</label>
            <br>
            <input type="email" class="form-control" name="inputEmail" id="inputEmail">
        </div>

        <div>
            <label for="inputPassword4" class="form-label">Password</label>
            <br>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword">
        </div>

        <div>
            <label for="inputPassword4" class="form-label">Confirm Password</label>
            <br>
            <input type="password" class="form-control" name="inputPassword" id="inputPassword">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</body>

</html>